body{
    background-color: rgb(41, 35, 35);
    color: white;

}

header{
    color: white;
    text-align: center;
    font-size: 50px;
}

fieldset{
    margin: 200px;
    margin-top: 30px;
    margin-left: 260px;
    width: 70%;
    min-width: 30%;
    align-content: center;
    border-radius: 18px;
    border: 0;
    background-color: rgb(95, 75, 27);
}

h2{
    text-align: center;
}

.one{
    box-sizing: border-box;
    width: 200px;
    margin: 40px;
    margin-left: 20%;
}

.two{
    box-sizing: border-box;
    width: 200px;
    margin-left: 20%;

}

.three{
    box-sizing: border-box;
    width: 200px;
    margin-left: 20%;

}

p2{
    display: inline-block;
    float: right;
    margin-top: 15%;
    margin-right: 10%;
}

p3{
    display: inline-block;
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}
.menu{
    display: block;
    float: none;
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
}

#footer{
    text-align: center;
}

div{
    margin-bottom: 70px;
}
